{% extends 'base.html' %}
{% load bootstrap4 %}


{% block css %}
    <style>
        .form-group {
            margin-bottom: 10px;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-8">
            <form action="" method="post">{% csrf_token %}
                {% bootstrap_form form %}
                <button type="submit" class="btn btn-primary w-100">Create</button>
            </form>
        </div>
    </div>
{% endblock %}

